.player-name {
    padding-top: 10px;
    padding-bottom: 30px;

    width: 70px;
    height: 10px;
    
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: var(--color-floral-white)
}